<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suha.mapper.AreaInfoMapper">

    <resultMap id="BaseResultMap" type="AreaInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>

    <!-- SQL片段  -->
    <sql id="area_info_where">
        <where>
            <if test="name != null and name != ''">
                and name like '%${name}%'
            </if>
        </where>
    </sql>

    <!-- 查询所有的数据 -->
    <select id="getListInfoByPage" parameterType="map" resultMap="BaseResultMap">
        select id, name, parent_id from area_info
        <include refid="area_info_where"/>
        <if test="startIndex != null and pageSize != null">
            limit #{startIndex}, #{pageSize}
        </if>
    </select>

    <!--获取总条数 -->
    <select id="getListCountByPage" parameterType="map" resultType="int">
        select count(id) from area_info
        <include refid="area_info_where"/>
    </select>

</mapper>